.advantages {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.advantages ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: @text-tr;
}

.advantages__list-bottom {
  background-color: #eeeeee;
}

.advantages__text {
  padding: 30px 32px 30px 32px;
}

.advantages__image {
  display: block;
  width: 520px;
  height: 320px;
}

.advantages__item--basic .advantages__text {
  color: #ffffff;
  background-color: @bc-main;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.advantages__number {
  line-height: 21px;
}

/*.advantages__item::before {
  content: " ";
  background: url("../img/line.svg") no-repeat 0 0;
  position: absolute;
  bottom: 335px;
  left: 20px;
  width: 280px;
  height: 1px;
  opacity: 0.1;
}*/

/*.advantages__item::after {
  content: " ";
  background: url("../img/line.svg") no-repeat 0 0;
  position: absolute;
  bottom: 167px;
  left: 20px;
  width: 280px;
  height: 1px;
  opacity: 0.1;
}*/

@media (min-width: @tablet-width) {
  .advantages__item {
    display: flex;
  }

  .advantages__item--top {
    display: flex;
    flex-direction: column;
  }

  .advantages__item--top-wrapper {
    display: flex;
  }

  .advantages__list-bottom {
    display: flex;
  }

  .advantages__item--basic:last-child {
    flex-direction: row-reverse;
  }

  .advantages__text {
    padding: 50px;
  }

  .advantages__image {
    display: block;
    width: 512px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    display: flex;
  }

  .advantages__item--top {
    display: flex;
    flex-direction: column;
  }

  .advantages__item--top-wrapper {
    display: flex;
  }

  .advantages__list-bottom {
    display: flex;
  }

  .advantages__item--basic:last-child {
    flex-direction: row-reverse;
  }

  .advantages__text {
    padding: 50px;
  }

  .advantages__image {
    display: block;
    width: 512px;
    height: 256px;
  }
}
