.advantages {
  width: 100%;
  height: 1823px;
}

.advantages ul {
  list-style: none;
}

.advantages__list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-transform: @text-tr;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.advantages-basic{
  background-color: @bc-main;
  color: #fff;
}

.advantages-basic__text {
  padding: 43px 28px 45px 28px;
}

.advantages__title{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.advantages__number {
  line-height: 21px;
}

.advantages__image {
  margin: 0 auto;
}

.services{
  background-color: #fff;
  color: #000;
  position: relative;
}

.services__list{
  text-align: left;
}

.services__item--hotel {
  padding: 41px 41px 40px 70px;
}

.services__item--hotel::before{
  content: "";
  position: absolute;
  top: 26px;
  left: 21px;
  width: 39px;
  height: 37px;
  background: url(../img/icon-house.svg) no-repeat 0 0;
}

.services__item--souvenir{
  padding: 39px 51px 39px 70px;
}

.services__item--food{
  padding: 39px 70px 42px 70px;
}

.services__title{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.services__description{
  color: #333;
}

.advantages__bottom{
  position: relative;
  background: url("../img/fon.svg") no-repeat 0 0;
  width: 100%;
  height: 503px;
}

.advantages__area{
  padding: 33px 41px 33px 41px;
}

.advantages__area::after{
  content: " ";
  background: url(../img/line.svg) no-repeat 0 0;
  position: absolute;
  top: 167px;
  left: 20px;
  width: 280px;
  height: 1px;
  opacity: 0.1;
}

.advantages__road {
  padding: 66px 57px 66px 57px;
}

.advantages__road::after {
  content: " ";
  background: url(../img/line.svg) no-repeat 0 0;
  position: absolute;
  top: 335px;
  left: 20px;
  width: 280px;
  height: 1px;
  opacity: 0.1;
}

.advantages__tourists{
  padding: 66px 37px 32px 37px;
}
