.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__link {
  margin-left: 11px;
}

@media (min-width: @tablet-width) {
  .copyright {
    .wdt-block();
  }
}
