.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.copyright__link {
  margin-left: 11px;
}

.copyright__image {
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .copyright {
    .wdt-block();
    margin: 0;
    justify-content: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-top: 14px;
  }
}
