.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  border: none;
}

.form__legend {
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: @text-tr;
}

.form__input {
  height: 58px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border: none;
}

.form__fieldset-name {
  display: flex;
  align-items: center;
}

.form__fieldset-name .form__label {
  text-transform: @text-tr;
}

.form__fieldset-name .form__input {
  width: 100%;
  margin-left: 14px;
  flex-grow: 1;
}

.form__fieldset-contacts .form__label {
  text-transform: @text-tr;
  padding-left: 42px;
}

.form__fieldset-contacts .form__input {
  width: 100%;
}

.form__textarea {
  width: 100%;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 22px;
  padding-top: 22px;
  background-color: #f2f2f2;
  border: none;
}
