/*.form {
  display: flex;
  flex-direction: column;
}*/

.form__fieldset {
  border: none;
}

.form__field-wrapper {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form__legend {
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: @text-tr;
}

.form__fieldset-name {
  padding-top: 15px;
}

.form__fieldset-surname {
  margin-top: 20px;
}

.form__fieldset-patronymic {
  margin-top: 22px;
}

.form__input {
  font: inherit;
  height: 58px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.form__input::placeholder {
  color: #000000;
  padding-right: 20px;
}

.form__input:hover {
  background-color: #e5e5e5;
}

.form__input:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.form__label {
  text-transform: @text-tr;
}

.form__fieldset-name .form__input {
  width: 226px;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__fieldset-surname .form__input {
  margin-left: 12px;
  width: 192px;
  padding-left: 25px;
  padding-right: 25px;
}

.form__fieldset-patronymic .form__input {
  width: 191px;
  margin-left: 19px;
  padding-right: 20px;
}

.form__fieldset-contacts .form__label {
  text-transform: @text-tr;
  padding-left: 21px;
  padding-top: 10px;
  padding-bottom: 7px;
}

.form__fieldset-contacts .form__input,
.form__fieldset-email .form__input {
  width: 100%;
}

.form__fieldset-email .form__label {
  padding-top: 8px;
  padding-left: 22px;
  padding-bottom: 6px;
}

.form__textarea {
  font: inherit;
  width: 100%;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
  margin-top: 11px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.form__textarea::placeholder {
  color: #000000;
}

.form__textarea:hover {
  background-color: #e5e5e5;
}

.form__textarea:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.form__radio:first-child {
  margin-top: 32px;
}

.form__radio:nth-child(2) {
  margin-top: 43px;
}

.form__radio:last-child {
  margin-top: 43px;
}

.form__checkbox:first-child {
  margin-top: 26px;
}

.form__checkbox:nth-child(2) {
  margin-top: 53px;
}

.form__checkbox:nth-child(3) {
  margin-top: 54px;
}

.form__checkbox:last-child {
  margin-top: 51px;
}

@media (min-width: @tablet-width) {
  .form__legend {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
  }

  .form__field-wrapper {
    flex-wrap: nowrap;
    max-width: 648px;
  }

  .form__fieldset-name {
    padding: 0;
    padding-top: 57px;
    padding-left: 61px;
    margin: 0;
  }

  .form__fieldset-name .form__input {
    width: 216px;
  }

  .form__fieldset-surname {
    margin: 0;
    padding-top: 21px;
    padding-left: 49px;
  }

  .form__fieldset-surname .form__label {
    margin-left: 15px;
  }

  .form__fieldset-surname .form__input {
    width: 178px;
  }

  .form__fieldset-patronymic {
    padding-left: 36px;
  }

  .form__fieldset-patronymic .form__label {
    margin-left: 27px;
  }

  .form__fieldset-patronymic .form__input {
    width: 180px;
    margin-left: 16px;
    padding-top: 19px;
    padding-bottom: 22px;
    padding-left: 21px;
  }

  .form__fieldset-contacts .form__label {
    padding-left: 23px;
    padding-top: 19px;
  }

  .form__fieldset-contacts .form__input,
  .form__fieldset-email .form__input {
    padding-left: 22px;
    padding-right: 72px;
  }

  .form__fieldset-email .form__label {
    padding-top: 18px;
  }

  .form__radio:first-child {
    margin-top: 73px;
    margin-left: -11px;
  }

  .form__radio:nth-child(2) {
    margin-top: 51px;
    margin-left: -11px;
  }

  .form__radio:last-child {
    margin-top: 52px;
    margin-left: -11px;
  }

  .form__checkbox {
    width: 50%;
  }

  .form__checkbox:first-child {
    margin-top: 51px;
    padding-left: 38px;
  }

  .form__checkbox:nth-child(2) {
    margin-top: 51px;
    padding-left: 64px;
  }

  .form__checkbox:nth-child(3) {
    padding-left: 40px;
    padding-top: 8px;
  }

  .form__checkbox:last-child {
    padding-left: 62px;
    padding-top: 10px;
  }

  .form__fieldset-contacts,
  .form__fieldset-email {
    flex-wrap: wrap;
  }

  .form__textarea {
    margin-top: 53px;
  }
}

@media (min-width: @desktop-width) {
  .form__fieldset-name {
    padding-left: 80px;
  }

  .form__fieldset-name .form__input {
    width: 350px;
  }

  .form__fieldset-surname {
    padding-left: 66px;
  }

  .form__fieldset-surname .form__input {
    width: 312px;
  }

  .form__fieldset-patronymic {
    padding-left: 54px;
  }

  .form__fieldset-patronymic .form__input {
    width: 314px;
  }

  .form__fieldset-container {
    display: flex;
  }

  .form__label-contact {
    display: none;
  }

  .form__fieldset-contacts .form__label {
    padding: 0;
    margin-left: -62px;
    padding-top: 72px;
    padding-left: 3px;
  }

  .form__fieldset-contacts .form__input {
    width: 257px;
    margin-left: 17px;
    margin-top: 73px;
  }

  .form__fieldset-email {
    flex-wrap: nowrap;
  }

  .form__fieldset-email .form__label {
    padding-top: 77px;
    padding-left: 20px;
  }

  .form__fieldset-email .form__input {
    width: 258px;
    margin-left: 19px;
    margin-top: 71px;
  }

  .form__checkbox {
    width: 25%;
  }

  .form__checkbox:first-child {
    padding-left: 33px;
    padding-top: 5px;
  }

  .form__checkbox:nth-child(2) {
    padding-left: 54px;
    padding-top: 5px;
  }

  .form__checkbox:nth-child(3) {
    padding-left: 71px;
    padding-top: 2px;
  }

  .form__checkbox:last-child {
    padding-left: 69px;
    padding-top: 5px;
  }

  .form__textarea {
    margin-top: 57px;
    padding-top: 17px;
  }
}
