.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  border: none;
}

.form__legend {
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: @text-tr;
}

.form__input {
  font: inherit;
  height: 58px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.form__input::placeholder {
  color: #000000;
  padding-right: 20px;
}

.form__input:hover {
  background-color: #e5e5e5;
}

.form__input:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.form__fieldset-name {
  display: flex;
  align-items: center;
}

.form__fieldset-name .form__label {
  text-transform: @text-tr;
}

.form__fieldset-name .form__input {
  width: 100%;
  margin-left: 14px;
  flex-grow: 1;
}

.form__fieldset-contacts .form__label {
  text-transform: @text-tr;
  padding-left: 42px;
}

.form__fieldset-contacts .form__input {
  width: 100%;
}

.form__textarea {
  font: inherit;
  width: 100%;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.form__textarea::placeholder {
  color: #000000;
}

.form__textarea:hover {
  background-color: #e5e5e5;
}

.form__textarea:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

@media (min-width: @tablet-width) {
  .form {
    max-width: 648px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__fieldset {
    width: 100%;
    margin: 0 auto;
  }

  .form__fieldset:nth-child(3) {
    width: 50%;
    order: -1;
  }

  .form__fieldset:first-child {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .form {
    max-width: 960px;
  }
}
