.foto__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 280px;
}

/*.foto__sunset {
  background: url("../img/photo-sunset-mobile@1x.jpg") no-repeat 0 0;
  height: 280px;
}

.foto__cactus {
  background: url("../img/photo-cactus-mobile@1x.jpg") no-repeat 0 0;
  height: 280px;
}

.foto__roads {
  background: url("../img/photo-roads-mobile@1x.jpg") no-repeat 0 0;
  height: 280px;
}

.foto__bridge {
  background: url("../img/photo-bridge-mobile@1x.jpg") no-repeat 0 0;
  height: 280px;
}*/

.foto__title {
  text-transform: @text-tr;
  font-weight: 700;
  line-height: 24px;
}

.foto__like {
  display: flex;
  align-items: center;
}

.foto__btn-like {
  /*float: left;*/
  margin-right: 14px;
  width: 23px;
  height: 21px;
  outline: none;
  border: none;
  background: url("../img/icon-like.svg") no-repeat 0 0;
  opacity: 0.3;
}

.foto__quantity-like {
  font-weight: 700;
  line-height: 24px;
  text-transform: @text-tr;
}

@media (min-width: @tablet-width) {
  .foto__list {
    max-width: 648px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .foto__item {
    background-color: #f2f2f2;
  }

  .foto__item:first-child {
    width: 100%;
  }

  .foto__item:nth-child(n+2) {
    width: 50%;
  }

  .foto__item:nth-child(2n+1) {
    background-color: #eaeaea;
  }

  .foto__discription {
    margin-left: 20px;
  }

  .foto__like {
    margin-right: 20px;
  }

  .foto__menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  /*.foto__sunset {
    background: url("../img/photo-sunset-tablet@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }

  .foto__cactus {
    background: url("../img/photo-cactus-tablet@1x.jpg") no-repeat 0 0;
  }

  .foto__roads {
    background: url("../img/photo-roads-tablet@1x.jpg") no-repeat 0 0;
  }

  .foto__bridge {
    background: url("../img/photo-bridge-tablet@1x.jpg") no-repeat 0 0;
  }*/
}

@media (min-width: @desktop-width) {
  .foto__list {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .foto__item {
    position: relative;
  }

  .foto__item:first-child {
    width: 100%;
  }

  .foto__item:nth-child(n+2) {
    width: 33.3334%;
  }

  .foto__menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }

  .foto__discription {
    margin-left: 20px;
  }

  .foto__like {
    margin-right: 20px;
  }

  /*.foto__sunset {
    background: url("../img/photo-sunset-desktop@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }

  .foto__cactus {
    background: url("../img/photo-cactus-desktop@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }

  .foto__roads {
    background: url("../img/photo-roads-desktop@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }

  .foto__bridge {
    background: url("../img/photo-bridge-desktop@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }*/

  .foto__btn-like {
    background: url("../img/icon-like-white.svg") no-repeat 0 0;
    opacity: 1;
  }
}
