.inner-intro {
  position: relative;
  background: url("../img/back-desktop.jpg") no-repeat 0 0;
  height: 157px;
  background-size: cover;
}

.inner-intro__text {
  margin-top: 50px;
  margin-bottom: 25px;
}

.inner-intro__body {
  position: relative;
  color: #333333;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 37px;
  padding-bottom: 5px;
}
