.map {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 7px;
  position: relative;
}

.map__interactive {
  display: block;
  position: relative;
  height: 350px;
}

.map__interactive-image {
  width: 100%;
}

.map__interactive iframe {
  border: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  border-width: 0;
}

@media (min-width: @tablet-width) {
  .map {
    max-width: 768px;
    margin-top: 73px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    max-width: 1200px;
    margin-top: 80px;
  }
}
