.modal {
  display: none;
  position: fixed;
  max-width: 320px;
  height: 323px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  margin: 0 auto;
  z-index: 5;
  left: 0;
  right: 0;
  top: 180px;
  transform: translateY(-50%);
}

.modal--bug {
  height: 280px;
}

.modal__content {
  text-align: center;
  text-transform: uppercase;
  padding: 47px 35px 6px;
}

.modal--bug .modal__content {
  padding-right: 42px;
  padding-left: 42px;
}

.modal__content h2 {
  font-weight: bold;
  font-size: 18px;
}

.modal--feedback .modal__footer {
  background-color: #f2f2f2;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.modal--bug .modal__footer {
  padding-left: 70px;
  padding-right: 70px;
}

.modal__footer-btn {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .modal--feedback {
    max-width: 604px;
  }

  .modal--bug {
    max-width: 400px;
    height: 347px;
  }

  .modal__content h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .modal--bug h2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .modal--feedback .modal__content {
    padding: 54px 93px 10px;
  }

  .modal--bug .modal__content {
    padding-top: 49px;
    padding-right: 42px;
    padding-bottom: 14px;
    padding-left: 42px;
  }

  .modal--feedback .modal__footer {
    padding: 39px 90px;
  }

  .modal--bug .modal__footer {
    padding-left: 64px;
    padding-right: 64px;
  }

  .modal__footer-btn {
    width: 100%;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 21px;
    padding-top: 21px;
    padding-right: 21px;
    padding-bottom: 21px;
  }
}
