.modal {
  display: block;
  position: fixed;
  max-width: 320px;
  height: 323px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  margin: 0 auto;
  z-index: 5;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 49px 20px 33px 20px;
}

.modal h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.modal p {
  margin-bottom: 40px;
}

.modal__footer {
  background-color: #f2f2f2;
  width: 100%;
  padding: 0;
}

.modal__footer-btn {
  width: 100%;
  padding: 22px 23px;
  margin: 0;
}

/*
.modal--bug {
  height: 280px;
  display: block;
}

.modal__content {
  margin: 0 auto;
  padding-top: 49px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.modal--bug .modal__content {
  padding-top: 29px;
  padding-right: 42px;
  padding-bottom: 30px;
  padding-left: 42px;
}

.modal__header h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.modal--feedback .modal__footer {
  background-color: #f2f2f2;
  width: 100%;
  text-align: center;
}

.modal--feedback .modal__footer-btn {
  width: 280px;
  margin: 20px;
}

.modal--bug .modal__footer-btn {
  width: 180px;
  margin-right: 70px;
  margin-left: 70px;
}

@media (min-width: @tablet-width) {
  .modal--feedback {
    max-width: 604px;
  }

  .modal--bug {
    max-width: 400px;
    height: 347px;
  }

  .modal--bug  .modal__header {
    padding-left: 43px;
    padding-right: 43px;
  }

  .modal__header h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .modal--feedback .modal__content {
    padding-top: 54px;
    padding-right: 93px;
    padding-bottom: 40px;
    padding-left: 93px;
  }

  .modal--bug .modal__content {
    padding-top: 29px;
    padding-right: 42px;
    padding-bottom: 30px;
    padding-left: 42px;
  }

  .modal--feedback .modal__footer-btn {
    width: 458px;
    margin: 44px;
  }

  .modal--bug .modal__footer-btn {
    width: 180px;
    padding-left: 127px;
    padding-right: 147px;
    margin-right: 63px;
    margin-left: 63px;
  }
}
*/
