.page-footer__wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: @text-tr;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.social__list{
  list-style: none;
  display: flex;
}

.social__link{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.page-footer__copyright {
  display: flex;
  /*padding-left: 95px;*/
  padding-top: 51px;
  padding-bottom: 35px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.copyright__link {
  background: url("../img/htmlacademy.svg") no-repeat 0 0;
  width: 27px;
  height: 34px;
  margin-left: 11px;
}
