.page-footer{
  width: 320px;
}

.page-footer__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: @text-tr;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.page-footer__social{
  padding-top: 41px;
}

.social__title{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.social__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 85px;
  margin-top: 41px;
  margin-bottom: 40px;
}

.social__item{
  display: flex;
}

.social__link{
  width: 46px;
  height: 48px;
  background-color: @bc-main;
  margin-right: 6px;
}

.social__link--twitter{
  color: #fff;
  background: @bc-main url("../img/icon-twitter.svg") no-repeat 50% 50%;
}

.social__link--facebook{
  background: @bc-main url("../img/icon-facebook.svg") no-repeat 50% 50%;
}

.social__link--youtube{
  background: @bc-main url("../img/icon-youtube.svg") no-repeat 50% 50%;
}

.page-footer__copyright {
  width: 100%;
  display: flex;
  margin-bottom: 35px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.copyright__link {
  background: url("../img/htmlacademy.svg") no-repeat 0 0;
  width: 27px;
  height: 34px;
  margin-left: 11px;
}
