.page-header__top {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: 56px;
  background-color: #fff;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 102px;
  height: 83px;
}

.page-header__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 21px;
}


