.page-footer{
  width: 320px;
}

.page-footer__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: @text-tr;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.page-footer__social{
  padding-top: 41px;
}

.page-footer__copyright {
  width: 100%;
  display: flex;
  margin-bottom: 35px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

