.page-main {
  width: 320px;
}

.page-main__intro {
  position: relative;
  text-align: center;
}

.page-main__intro-header {
  position: relative;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 0;
  width: 320px;
  height: 389px;
}

.page-main__intro-header::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat 0 0;
  width: 100%;
  height: 57px;
}

.page-main__intro-image {
  margin-top: 90px;
}

.page-main__intro-body {
  width: 255px;
  color: #333333;
  margin-top: 43px;
  margin-left: 32px;
  margin-bottom: 29px;
  text-align: center;
}

.heading-primary {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: @text-tr;
  color: #000000;
}

.page-main__description {
  font-size: 14px;
  text-transform: @text-tr;
}

.page-main__intro::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/white_copy_2.svg) no-repeat 0 0;
}
