.reviews {
  max-width: 320px;
  margin: 0 auto;
}

.reviews__send {
  text-align: center;
}

.reviews__btn {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 43px;
}

.reviews__necessary {
  display: none;
}

.reviews__present {
  margin-top: 26px;
}

.reviews__contacts {
  margin-top: 34px;
}

.reviews__impressions {
  margin-top: 40px;
}

.reviews__attractions {
  margin-top: 36px;
}

.reviews__emotions {
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .reviews {
    max-width: 768px;
    margin: 0 auto;
  }

  .reviews__form {
    max-width: 648px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .reviews__present {
    width: 100%;
    margin: 0;
  }

  .reviews__present:nth-child(3) {
    width: 50%;
    order: -1;
  }

  .reviews__present:first-child {
    width: 50%;
  }

  .reviews__send {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .reviews__necessary {
    display: block;
    text-transform: @text-tr;
  }

  .reviews__btn {
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    max-width: 1200px;
    margin: 0 auto;
  }

  .reviews__form {
    max-width: 960px;
  }
}
