.search-services {
  max-width: 320px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.search-services__text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
}

.search-services__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

/*.search-services a {
  background-color: @bc-main;
  padding: 17px 47px 17px 47px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 49px;
}*/

.search-services a:hover {
  background-color: #669ec0;
}

.search-services a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .search-services {
    max-width: 768px;
  }

  .search-services__text {
    padding: 59px 150px 37px 150px;
  }

  .search-services__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
  }

  .search-services__description {
    margin-top: 31px;
    padding-left: 41px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .search-services {
    max-width: 1200px;
  }

  .search-services__text {
    padding: 52px 380px 45px 380px;
  }

  .search-services__description {
    padding-left: 20px;
    padding-right: 20px;
  }
}
