.search-services {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: @text-tr;
}

.search-services__text {
  padding: 33px 27px 40px 27px;
}

.search-services__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

/*.search-services a {
  background-color: @bc-main;
  padding: 17px 47px 17px 47px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 49px;
}*/

.search-services a:hover {
  background-color: #669ec0;
}

.search-services a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .search-services__text {
    padding: 50px 160px 50px 160px;
  }
}

@media (min-width: @desktop-width) {
  .search-services__text {
    padding: 50px 380px 50px 380px;
  }
}
