.search-services {
  max-width: 320px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.search-services__text {
  padding: 30px 20px 40px 20px;
}

.search-services__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

/*.search-services a {
  background-color: @bc-main;
  padding: 17px 47px 17px 47px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 49px;
}*/

.search-services a:hover {
  background-color: #669ec0;
}

.search-services a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .search-services {
    max-width: 768px;
  }

  .search-services__text {
    padding: 50px 160px 50px 160px;
  }
}

@media (min-width: @desktop-width) {
  .search-services {
    max-width: 1200px;
  }

  .search-services__text {
    padding: 50px 380px 50px 380px;
  }
}
