.services__list {
  position: relative;
  text-align: left;
  padding-left: 70px;
  background-color: #ffffff;
  color: #000000;
}

.services__item {
  text-align: left;
  padding-left: 70px;
}

.services__description {
  line-height: 21px;
  margin: 0;
  margin-bottom: 7px;
}

.services__item--hotel .services__title {
  padding-top: 35px;
}

.services__item--hotel .services__description {
  margin-bottom: -21px;
  margin-top: 14px;
}

.services__item--hotel::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 21px;
  width: 39px;
  height: 37px;
  background: url("../img/icon-house-blue.svg") no-repeat 0 0;
  background-size: cover;
}

.services__item--souvenir {
  margin-top: 49px;
}

.services__item--souvenir .services__description {
  margin-top: 14px;
}

.services__item--souvenir::before {
  content: "";
  position: absolute;
  top: 156px;
  left: 25px;
  width: 32px;
  height: 38px;
  background: url("../img/icon-gift-blue.svg") no-repeat 0 0;
  background-size: cover;
}

.services__item--food .services__title {
  padding-top: 21px;
}

.services__item--food .services__description {
  padding-right: 23px;
  padding-top: 15px;
  padding-bottom: 31px;
  line-height: 21px;
}

.services__item--food::before {
  content: "";
  position: absolute;
  top: 272px;
  left: 19px;
  width: 40px;
  height: 35px;
  background: url("../img/icon-burger-blue.svg") no-repeat 0 0;
  background-size: cover;
}

.services__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .services__list {
    width: 100%;
    display: flex;
    text-align: center;
  }

  .services__item {
    padding: 0;
    margin: 0;
    width: 33%;
    padding-top: 92px;
    text-align: center;
    margin-bottom: 23px;
  }

  .services__title {
    font-size: 21px;
  }

  .services__item--hotel .services__title {
    margin-top: 32px;
  }

  .services__item--hotel .services__description {
    margin-top: 22px;
    padding-left: 46px;
    padding-right: 42px;
    line-height: 20px;
  }

  .services__item--hotel::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 90px;
    width: 75px;
    height: 72px;
    background: url("../img/icon-house-blue.svg") no-repeat 0 0;
    background-size: cover;
  }

  .services__item--souvenir {
    order: 1;
  }

  .services__item--souvenir .services__title {
    margin-top: 68px;
    padding-left: 12px;
  }

  .services__item--souvenir .services__description {
    margin-top: 20px;
    line-height: 21px;
    padding-right: 35px;
    padding-left: 49px;
  }

  .services__item--souvenir::before {
    content: "";
    position: absolute;
    top: 57px;
    left: 607px;
    width: 64px;
    height: 75px;
    background: url("../img/icon-gift-blue.svg") no-repeat 0 0;
    background-size: cover;
  }

  .services__item--food .services__title {
    margin-top: 48px;
    padding-left: 7px;
  }

  .services__item--food .services__description {
    line-height: 21px;
    padding-left: 53px;
    padding-right: 44px;
    margin-top: 5px;
  }

  .services__item--food::before {
    content: "";
    position: absolute;
    top: 63px;
    left: 345px;
    width: 77px;
    height: 68px;
    background: url("../img/icon-burger-blue.svg") no-repeat 0 0;
    background-size: cover;
  }
}

@media (min-width: @desktop-width) {
  .services__list {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .services__item {
    width: 33%;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
  }

  .services__title {
    padding-right: 22px;
  }

  .services__description {
    padding-right: 35px;
    padding-left: 35px;
  }

  .services__item--hotel::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 160px;
    width: 75px;
    height: 72px;
    background: url("../img/icon-house-blue.svg") no-repeat 0 0;
    background-size: cover;
  }

  .services__item--hotel .services__title {
    margin-top: 123px;
    margin-left: 25px;
  }

  .services__item--hotel .services__description {
    padding-left: 45px;
  }

  .services__item--souvenir::before {
    content: "";
    position: absolute;
    top: 57px;
    left: 968px;
    width: 64px;
    height: 75px;
    background: url("../img/icon-gift-blue.svg") no-repeat 0 0;
    background-size: cover;
  }

  .services__item--souvenir .services__title {
    margin-top: 158px;
    padding-left: 44px;
  }

  .services__item--souvenir .services__description {
    padding-left: 90px;
    padding-right: 70px;
  }

  .services__item--food::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 561px;
    width: 77px;
    height: 68px;
    background: url("../img/icon-burger-blue.svg") no-repeat 0 0;
    background-size: cover;
  }

  .services__item--food .services__title {
    margin-top: 138px;
    padding-left: 35px;
  }

  .services__item--food .services__description {
    padding-left: 56px;
    padding-right: 45px;
  }
}
