.site-list__item {
  background-color: @bc-main;
  box-shadow: @bsh-main;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: @text-tr;
  color: #ffffff;
}

.site-list__item a{
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: @text-tr;
  color: #ffffff;
}
