.site-list__item {
  text-align: center;
}

.site-list__item a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: @text-tr;
  color: #ffffff;
  background-color: @bc-main;
  box-shadow: @bsh-main;
  padding-top: 8px;
  padding-bottom: 8px;
}

.site-list__item a:hover {
  background-color: #669ec0;
}

.site-list__item a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .site-list__right,
  .site-list__left {
    width: 306px;
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    width: 50%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .site-list__item a {
    display: inline;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: @text-tr;
    color: #000000;
    background-color: #ffffff;
  }

  .site-list__item--active a {
    color: #766357;
  }

  .site-list__item a:hover {
    background-color: #ffffff;
    color: #81b3d2;
  }

  .site-list__item a:active {
    background-color: #ffffff;
    color: #766357;
  }

  .site-list__item--active a:hover {
    color: #604e43;
  }

  .site-list__item--active a:active {
    color: #766357;
  }
}

@media (min-width: @desktop-width) {
  .site-list__right,
  .site-list__left {
    width: 478px;
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    width: 50%;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 17px;
  }

  .site-list__item a {
    display: inline;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: @text-tr;
    color: #000000;
    background-color: #ffffff;
  }

  .site-list__item a:hover {
    background-color: #ffffff;
    color: #81b3d2;
  }

  .site-list__item a:active {
    background-color: #ffffff;
    color: #766357;
  }
}
