.video__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.video__header {
  padding: 40px;
  text-transform: @text-tr;
}

.video__header h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.video__header p {
  line-height: 24px;
}

.video__display {
  position: relative;
  margin-bottom: 115px;
}

.video__show {
  position: absolute;
  width: 280px;
  top: 156px;
  left: 21px;
}

.video__progress {
  height: 45px;
  background: #000000;
  opacity: 0.6;
}

.video__contorls {
  background-color: #f2f2f2;
  height: 66px;
  display: flex;
}

.video__start {
  margin-left: 25px;
}

.video__titers {
  margin-left: 174px;
}

.video__full-screen {
  margin-right: 23px;
}
