.video__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 112px;
}

.video__header {
  padding-top: 25px;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.video__header h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 27px;
}

.video__header p {
  line-height: 24px;
}

.video__display {
  position: relative;
}

.video__show {
  position: absolute;
  width: 280px;
  top: 156px;
  left: 21px;
}

.video__progress {
  position: relative;
  height: 45px;
  background: #000000;
  opacity: 0.6;
}

.video__contorls {
  background-color: #f2f2f2;
  height: 66px;
  display: flex;
}

.video__progress-bar {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.2;
}

.video__progress-knob {
  position: absolute;
  top: 19px;
  left: 57px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  padding: 0;
  border-radius: 50%;
}

.video__start {
  margin-left: 24px;
  margin-top: 22px;
  width: 23px;
  height: 23px;
  background: url("../img/icon-video-replay.svg") no-repeat 0 0;
  border: none;
}

.video__titers {
  margin-left: 126px;
  margin-top: 23px;
  width: 32px;
  height: 20px;
  background: url("../img/icon-video-subtitles.svg") no-repeat 0 0;
  border: none;
}

.video__full-screen {
  margin-top: 23px;
  margin-left: 31px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-video-fullscreen.svg") no-repeat 0 0;
  border: none;
}

@media (min-width: @tablet-width) {
  .video__wrapper {
    max-width: 648px;
    margin: 0 auto;
  }

  .video__header {
    padding-top: 40px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-left: 105px;
    padding-right: 105px;
  }

  .video__header h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 32px;
  }

  .video__display {
    width: 100%;
    position: relative;
    margin-top: -10px;
  }

  .video__player {
    display: block;
    width: 100%;
    height: 499px;
    margin-bottom: 50px;
  }

  .video__show {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .video__contorls {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    background: #000000;
    opacity: 0.6;
    height: 93px;
  }

  .video__progress {
    position: absolute;
    left: 93px;
    bottom: 25px;
    z-index: 2;
    width: 389px;
    background: rgba(0, 0, 0, 0);
  }

  .video__progress-bar {
    width: 100%;
    left: 0;
  }

  .video__progress-knob {
    left: 112px;
  }

  .video__start {
    margin-left: 35px;
    margin-top: 34px;
    padding: 8px;
    background: url("../img/icon-video-replay-white.svg") no-repeat 0 0;
  }

  .video__titers {
    margin-top: 34px;
    margin-left: 466px;
    background: url("../img/icon-video-subtitles-white.svg");
  }

  .video__full-screen {
    margin-top: 35px;
    margin-right: 40px;
    background: url("../img/icon-video-fullscreen-white.svg");
  }
}

@media (min-width: @desktop-width) {
  .video {
    max-width: 800px;
    margin: 0 auto;
  }

  .video__wrapper {
    max-width: 800px;
    margin-bottom: 105px;
  }

  .video__progress {
    width: 540px;
    bottom: 23px;
  }

  .video__contorls {
    bottom: -3px;
  }

  .video__titers {
    margin-left: 617px;
  }

  .video__header {
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 42px;
  }
}
